@import '../node_modules/bootstrap/scss/bootstrap';

header[role="banner"] {
  padding: 30px 0;
  @extend .bg-dark;
  @extend .text-light;
  @extend .mb-4;
}

footer[role="siteFooter"] {
  padding: 30px 0;
  @extend .bg-dark;
  @extend .text-light;
}

article {
  @extend .card;
  @extend .h-100;
  @extend .shadow-sm;

  img {
    @extend .card-img-top;
    height: auto;
  }

  .card-body {
    position: relative;
  }

  .card-title,
  .card-subtitle {
    padding-right: 50px;
  }

  .release-year {
    @extend .position-absolute;
    top: 20px;
    right: 20px;
    @extend .badge;
    @extend .badge-dark;
  }

  .spotify-link {
    a {
      @extend .btn;
      @extend .btn-outline-primary;
      border-radius: 25px;
    }
  }

  .genre {
    margin: 0;
    padding: 0;

    li {
      @extend .badge;
      @extend .badge-dark;
      @extend .badge-pill;
    }
  }
}
