$primary: #9236d8;
$font-family-base: 'Raleway', sans-serif;
$btn-border-radius: 25px;
$btn-border-radius-lg: 25px;

@import '../node_modules/bootstrap/scss/bootstrap';

body {
  background: #fff;
}

h1 {
  font-weight: bold;
}

header[role="banner"] {
  background: #fff;
  padding: 100px 0;
}

footer[role="siteFooter"] {
  padding: 50px 0;
  margin-top: 50px;
  @extend .bg-dark;
  @extend .text-light;
  text-align: center;

  a {
    color: lighten($primary, 20%);
  }
}

button a {
  border-radius: 25px;
}

article {
  @extend .card;
  @extend .h-100;
  @extend .shadow-sm;

  img {
    @extend .card-img-top;
    height: auto;
  }

  .card-body {
    position: relative;
  }

  .card-title,
  .card-subtitle {
    padding-right: 50px;
  }

  .release-year {
    @extend .position-absolute;
    top: 20px;
    right: 20px;
    @extend .badge;
    border: 1px solid lighten($primary, 30%);
  }

  .spotify-link {
    a {
      @extend .btn;
      @extend .btn-outline-primary;
    }
  }

  .genre {
    margin: 0;
    padding: 0;

    li {
      @extend .badge;
      @extend .badge-pill;
      border: 1px solid lighten($primary, 30%);
    }
  }
}
